.dockerignore
Dockerfile
compose.yaml
compose.prod.yaml

.env
.env.*
auth.json
*.key
*.pem

vendor
node_modules
public/build
public/hot
public/storage
public/fonts-manifest.dev.json
bootstrap/cache/*.php
bootstrap/ssr
storage/app/private/*
storage/app/public/*
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
storage/pail
storage/inertia-devtools

tests
project
graphify-out
.git
.gitattributes
.gitignore
.github
.claude
.idea
.vscode
.zed
.fleet
.nova
.phpunit.cache
.phpunit.result.cache
.phpactor.json
phpunit.xml
phpstan.neon
pint.json
eslint.config.js
vitest.config.ts
.prettierrc
.prettierignore
.editorconfig
.graphifyignore
CLAUDE.md
README.md
